<br>
<div>
  <div class="col-md-10 col-md-offset-1">
    <div id="pnl" class=" panel panel-primary" *ngFor="let panel of panels; let i=index;" (mouseover)="onHover(i)" (mouseout)="onHover(i)">
      <div id="pnlBody" class="panel-body">
        <app-edinput *ngIf="panel.hasTable"></app-edinput>
        <div id="withoutTable" *ngIf="!panel.hasTable">
          <md-input-container id="inputContainer">
            <textarea autosize id="textArea" mdInput placeholder="{{panel.name}}" type="text" class="form-control" rows="6" [(ngModel)]="panel.inputText"
              (keyup)="maintainWell(i)"></textarea>
          </md-input-container>
          <div [@easeInOut]="panel.wellOn">
            <app-panel-well [wellInfo]="panels" [index]="i"></app-panel-well>
          </div>
          <app-progress-bar [index]="i" [panel]="panels"></app-progress-bar>
        </div>
      </div>
    </div>
  </div>
</div>