<nav class="navbar">
    <div id="navButton" class="col-sm-offset-5 navbar-header">
        <button type="button" class="navbar-toggle collapsed">        
      </button>
        <a routerLink="/home" routerLinkActive="active" class="navbar-brand">Home</a>
    </div>
    <div id="navButton" class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">        
      </button>
        <a routerLink="/info" routerLinkActive="active" class="navbar-brand">Information</a>
    </div>
    <div id="navButton" class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">        
      </button>
        <a routerLink="/cv" routerLinkActive="active" class="navbar-brand">Presentation</a>
    </div>
</nav>
<router-outlet></router-outlet>