<div id="div2">
    <br>
</div>
<div id="div">
    <br>
    <nav class="col-sm-offset-4 navbar" style="padding-left: 6%;">
        <div id="1" class="navbar-header" (click)="onclick(i)" *ngFor="let nav of navInfo; let i=index">
            <button type="button" class="navbar-toggle collapsed"></button>
            <a routerLink="/{{nav.path}}" routerLinkActive="active" class="navbar-brand">{{nav.name}}</a>
        </div>
    </nav>
    <div id="div2">
        <br>
    </div>
</div>

<div id="router">
    <router-outlet></router-outlet>
</div>

<app-footer id="app-footer"></app-footer>