<div id="pnl" class="col-sm-8 col-sm-offset-2 panel" *ngFor="let panel of panels; let i=index;" (mouseover)="onHover(i)">
  <div id="pnlHeader" class="panel-heading">
    <div id="pnlBody" class="panel-body">
      <md-input-container id="inputContainer">
        <textarea autosize id="textArea" mdInput placeholder="{{panel.name}}" type="text" class="form-control" rows="6" [(ngModel)]="panel.inputText"></textarea>
      </md-input-container>
      <div>
        <app-panel-well [wellInfo]="panels" [index]="i" ></app-panel-well>
      </div>
    </div>
  </div>
</div>

<!-- PANELS FROM CV2  -->
<!-- <div id="pnlInfo" class="col-sm-8 col-sm-offset-2 panel panel-defualt">
  <div id="pnlHeaders" class="panel-heading" *ngFor="let panel of panels; let i=index;" (mouseover)="wellOpenClose(i)" (mouseout)="wellOpenClose(i)">
    <md-input-container id="inputContainer">
      <textarea id="pnlTextAreas" mdInput placeholder="{{panel.name}}" type="text" class="form-control" rows="8" [(ngModel)]="panel.pnlTextArea"></textarea>
    </md-input-container>
    <div id="infoWells{{i}}" class="well" [@wellIn]="panel.state">{{panel.info}}
         <md-checkbox  (click)="chkbxClicked(i)">Click Me!</md-checkbox> 
    </div>
  </div>
</div>  -->